<header class="main-header">
    <nav class="main-nav">
        <div class="logo" >

          <button> <img  src="https://images.emojiterra.com/google/android-10/512px/26f0.png" width="70px" height="60px"></button>
        
        </div> 
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="http://localhost:4200/guia">Guia</a></li>
            <li><a href="">Inicio</a></li>
            <li><a href="">Inicio</a></li>
        </ul>
    </nav>
    <div class="content-header">
        <h1>Turistik</h1>
        <p>La mejor manera de conocer nuevas experiencias</p>
        <a href="">Reservar ahora</a>

    </div>
</header>