

<head>
    
  

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-4 text-center">
                <h1 class='text-white'>Bienvenido</h1>
                  <div class="form-login"><br>
                    <h4>Iniciar sesión</h4>
                    <br>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Correo"/>
                    <br><br>
                    <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="Contraseña"/>
                    <br>
                <br>
                    <div class="wrapper">
                            <span class="group-btn">
                                <a href="#" class="btn btn-danger btn-md">Iniciar <i class="fa fa-sign-in"></i></a>
                                <br>
                                <br>
                                <button type="button" class="btn btn-success">Crear cuenta</button>
                            </span>
                          <br>


                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
