
<body>
    <form>
  
  <div class="container register-form">
              <div class="form">
                  <div class="note">
                      <p>Registrate se parte de nosotros</p>
                  </div>
  
                  <div class="form-content">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Ingresa tu numero de cedula" value=""/>
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Ingresa tu nombre" value=""/>
                              </div>
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ingresa tu apellido" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Ingresa tu telefono" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Ingresa tu contraseñena" value=""/>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <br>
                            <br>
                            <br>
                            <br>
                            <a href="entrarcomface.html" class="fb btn">
                                <i class="fa fa-facebook fa-fw"></i> Ingresa con  Facebook
                               </a>
                               <br>
                            
                              <a href="entrarcomgoogle.html" class="google btn"><i class="fa fa-google fa-fw">
                                </i> Ingresa con Google+
                              </a>
                          </div>
                          
                      </div>
                      <div align="center">
                      <button type="button" class="btnSubmit">Enviar</button>
                    </div>
                  </div>
              </div>
          </div>
    </form> 
</body>

